.navButtons a:hover,
footer a:hover,
.slide a:hover,
.bloglistSection button:hover,
.blogListContent a:hover,
#submit:hover {
    opacity: 50%;
}

.thisPage {
    border-bottom: 1px solid white;
}

.next:hover,
.prev:hover {
    background-color: #444444;
}

#name:hover, #email:hover, #subject:hover, #message:hover {
    cursor: pointer;
    
}
