.navButtons a:hover,
footer a:hover,
.slide a:hover {
    opacity: 50%;
}

.thisPage {
    border-bottom: 1px solid black;
}

.next:hover,
.prev:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

#name:hover, #email:hover, #subject:hover, #message:hover, #submit:hover {
    border: 1px solid #444444;
}
