.navButtons a:hover,
footer a:hover,
.slide a:hover,
.bloglistSection button:hover,
.blogListContent a:hover,
#submit:hover,
#myModal:hover {
    opacity: 50%;
}

.thisPage {
    border-bottom: 1px solid white;
}

.next:hover,
.prev:hover {
    background-color: #444444;
}

#name:hover, #email:hover, #subject:hover, #message:hover {
    cursor: pointer;
}

.modalContent, #content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

