body {
    margin: 0;
}

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

a {
    text-decoration: none;
}

.headerBackground {
    width: 100%;
    height: 50vh;
    background-color: lightgray;
}